<ion-tabs >

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" style="color:darkblue">
      <ion-icon name="home"></ion-icon>
      <ion-label style="color:darkblue">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="color:green">
      <ion-icon name="call"></ion-icon>
      <ion-label style="color:green">Contact Us</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="color:red">
      <ion-icon name="send"></ion-icon>
      <ion-label >Feedback</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
