<ion-header>
  <ion-toolbar>
      <ion-title style="background-color:blue">
     Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header center>
      <ion-card-title>Regional Office</ion-card-title>
      <ion-img src="assets/contact.png"></ion-img>
      </ion-card-header>
      <ion-img src="/assets/map.jpg"></ion-img>
      <ion-card-content>
          <ion-card-subtitle style="color:crimson">Bhilwara Infotechnology Limited</ion-card-subtitle>
        <p>#244, Fortune Summit Business Park
            1st Floor, Hosur Road 
            Near Silk Board Junction
            Bengaluru, India – 560068. </p>
        
         <ion-card-subtitle><ion-icon name="call" style="color:crimson"></ion-icon>Phone: +91-80-46306666</ion-card-subtitle>   
         <ion-card-subtitle style="color:crimson"> Fax: +91-80-41466262</ion-card-subtitle>
         <ion-card-subtitle style="color:crimson"> <ion-icon name="md-mail-open"></ion-icon> e-mail:info@bhilwarainfo.com</ion-card-subtitle>
        </ion-card-content>
    </ion-card>

</ion-content>

